@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.home-top-banner {
  background-image: url("/images/home/top_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.home-bottom-banner {
  background-image: url("/images/home/under_top_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.white-label-bg {
  background-image: url("/images/home/white_label_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gamefi_market_bg {
  background-image: url("/images/home/gamefi_market.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.redkite-chain-bg {
  background-image: url("/images/home/red_kite_launchpad.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.powered-bg {
  background-image: url("/images/home/powered_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.consult_us_bg {
  background-image: url("/images/consult_us_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.footer_bg {
  background-image: url("/images/footer_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.portfolio_bg {
  background-image: url("/images/portfolio/banner_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.token_airdrop_bg {
  background-image: url("/images/home/token_airdrop.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.front_running_bg {
  background-image: url("/images/home/front_running.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mobile_menu_bg {
  background-image: url("/images/mobile_menu_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.button_gradient_purple_blue {
  position: relative;
}

.button_gradient_purple_blue::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(200deg, #18c8ff, #933ffe);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

select:invalid,
select[disabled] {
  color: rgba(0, 0, 0, 0.4);
}

.select-wrap::after {
  margin-left: -3em;
  font-size: 0.75em;
  pointer-events: none;
  content: url("/images/arrow_down.svg");
}

.background-modal {
  background: rgba(0, 0, 0, 0.8);
}

.tick_done_bg {
  background: url("/images/contact/tick_border.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  mix-blend-mode: lighten;
}

@media (max-width: 767px) {
  .home-top-banner {
    background-image: url("/images/home/top_bg_mobile.png");
  }

  .gamefi_market_bg,
  .redkite-chain-bg {
    background: #050512;
  }

  .powered-bg {
    background-image: url("/images/home/powered_bg_mobile.png");
  }
}
